.calculate {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin: auto;
    border-radius: 15px;
    background:rgba(255, 255, 255, 0.86);
    box-shadow: 1px 1px 3px grey; 
    margin-top: 20px;
}
.geser{
    margin-left: -27px;
    color: black;
}
.geser1{
    margin-left: -47px;
}
.geser2{
    margin-left: -30px;
}
.input-group input[type="text"],
.input-group input[type="number"],
.input-group input[type="password"] {
    width: 220px;
    font-family: "Roboto";
    font-size: 16px;
    color: #303F9F;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(48, 159, 154); 
}
.input-group input[type="text"]:focus, 
.input-group input[type="text"]:active,
.input-group input[type="number"]:focus,
.input-group input[type="number"]:active,
.input-group input[type="password"]:focus,
.input-group input[type="password"]:active {
  outline: none;
  border-bottom: 2px solid #303F9F; 
}    
input[type="submit"] {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #03a9f4);
  background-size: 200%;
  top: 50%;
  bottom: 50%;
  transform: translate(50%, 0);
  border-radius: 10px;
  border: 2px solid #f2f2f200;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 16px;
  padding: 15px;
  width: 50%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
input[type="submit"]:hover {
  border-radius: 18px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 50px -3px rgba(90, 10, 90, 0.9);
  -moz-box-shadow: 0px 5px 50px -3px rgba(90, 10, 90, 0.9);
  box-shadow: 0px 5px 50px -3px rgba(90, 10, 90, 0.9);
  transition: all 0.4s ease 0s;
}
select {
    width: 250px;
    font-family: "Roboto";
    font-size: 16px;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(48, 159, 154); 
}